---
import { getCollection } from "astro:content";
import { Image } from "astro:assets";
import SectionLayout from "../../layouts/SectionLayout.astro";

const recommendations = await getCollection("recommendations");
---

<SectionLayout id="recommendations" title="Recommendations" secondary>
  <ul class="mx-auto space-y-4">
    {
      recommendations.map(r => (
        <li class="prose prose-sm dark:prose-invert max-w-3xl">
          <a href={r.data.url} target="_blank" class="no-underline">
            <cite class="inline-flex items-center mt-4 gap-2">
              <Image
                class="rounded-full w-12 h-12 m-0"
                src={r.data.image}
                alt={r.data.name}
                width={100}
                height={100} />
              <div class="flex flex-col">
                <span class="w-fit font-bold not-italic">{r.data.name}</span>
                <span class="text-xs no-underline">{r.data.title} - @{r.data.company}</span>
              </div>
            </cite>
          </a>
          <blockquote>
            {r.data.recommendation}
          </blockquote>
        </li>
      ))
    }
  </ul>
</SectionLayout>
