---
import { CollectionEntry } from "astro:content";
import ProjectIcon from "./ProjectIcon.astro";
import { Image } from "astro:assets";
import { clsx } from "clsx";
import DateChip from "./DateChip.astro";

interface Props {
  project: CollectionEntry<"projects">;
  showTransition?: boolean;
}

const { project, showTransition } = Astro.props;
---

<a
  transition:name={showTransition && `card-${project.slug}`}
  class="@container group/card group no-underline grow slide-up"
  href={`/projects/${project.slug}`}>
  <div
    class={
      clsx("w-full h-full flex flex-col @3xl:flex-row gap-3 sm:gap-6 border dark:border-gray-800 p-3 sm:p-6 rounded-md",
        "group-hover:dark:border-gray-700 group-hover:border-gray-300 duration-200 hover:shadow")
    }>
    {project.data.draft && <span class="absolute top-6 z-10 right-0 rotate-45 bg-sky-300 px-4">Draft</span>}
    <Image
      transition:name={showTransition && `image-${project.slug}`}
      src={project.data.image}
      alt={project.data.title}
      class="@3xl:group-even:order-2 bg-white @3xl:w-1/2 h-auto aspect-video object-cover text-gray-800 font-medium rounded-md border border-gray-200 dark:border-gray-800 !m-0" />
    <div class="prose prose-sm dark:prose-invert w-full flex flex-col h-full gap-3 sm:gap-4">
      <h2
        class="inline-flex !m-0 items-center gap-2 group-hover:underline underline-offset-4">
        <ProjectIcon icon={project.data.icon} transitionName={showTransition && `project-icon-${project.slug}`} />
        <span transition:name={showTransition && `title-${project.slug}`}>{project.data.title}</span>
      </h2>
      <p transition:name={showTransition && `desc-${project.slug}`}
         class="text-sm no-underline m-0 opacity-75">{project.data.description}
      </p>
      <DateChip className="mt-auto" startDate={project.data.startDate} endDate={project.data.endDate} />
    </div>
  </div>
</a>
